body{
     margin: 0px;
     padding: 0;
     border: 0;
     background-color: #FAF0E6;
}

#header{

background-color: #DB7093;
}

#header form{
	float: right;
	padding: 20px;
	height: 20px;
}

#header img{
	width: 10%;
	height: 130px;
	padding: 20px 60px;
}

nav{
	background-color: #C71585;
	height: 70px;
	text-align: center;
	width: 100%;	
}

nav ul{
display: inline-block;

}

nav ul li{
	list-style: none;
	display: inline;
	margin: 10px 30px;
	
}

nav ul li a{

	color: #FFF;
	text-decoration: none;
}

#gallery-section{

	background-color: #FAF0E6;
}

#gallery-section img{

	
	height: 500px;
    padding: 100px;
   
}

#subscribe-area{
border-spacing: 10px;
/*background-color: #FFB6C1;*/

}

#donate-line{

height: 70px;
background: #D8BFD8;
text-align: center;
padding-top: 40px;

}

#donate-line a{
font-size: 54px;
color: black;
font-weight: 800;

}


footer{

	background-color: green;
	width: 100%;
}







