@import url(bootstrap.min.css);
@import url(font-awesome.min.css);


@font-face{
	font-family: "Timeless";
	src:url('../fonts/Timeless.ttf');
}

@font-face{
	font-family: "TimelessBD";
	src:url('../fonts/Timeless-Bold.ttf');
}


 *{
 	font-family: "Timeless";
 }

 .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
 	background-color: #FFF;
 	color:#000;
 }

 .panel-default{
 	text-align: center;
 }



body{
/*	background-color: #EFF7F5;*/
color: black;
}

.logo_wrapper{
	width: 100%;
	/*float: left;*/
	/*background-color: white;*/
	height:120px;
	font-size: 1em;
	font-family: "TimelessBD";
	text-align: center;
}

@media (min-width: 1200px){
	.navbar-nav{
	  padding:0 220px;
    }
}



.navbar-default .navbar-nav>li>a,.navbar-nav>li>button{
	margin:0 10px;
}


.navbar{
	margin-bottom: 0;
	border-radius: 0;
	background-color:#e6e6e6;
	border-radius: 0;
	border-color: purple;
}

.navbar-inner {
/*min-height: 140px; */
/* change value here to modify height of navbar*/
}

.navbar-default .navbar-brand {
    color: #9e098a;
}

.navbar-default .navbar-nav>li>a{
	color:#000;
	font-weight: 900;
}


.collapse ul a,.btn>a{
	/*color: white;*/
	font-size: 1.2em;
    font-family: "TimelessBD";
    font-weight: 900;
}

.btn{
	/*border-radius: 20px; *//*makes the donate button rounded*/
}
.btn-primary{
	height:50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited,.btn-primary.focus, .btn-primary:focus {
    background-color: purple;
    outline: none;
   /* color: black;*/
   border-radius: 0;
   border:0;

}

.slider img{
	width: 100%;
}


/*Changing carousel height below*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 500px;    /* Set slide height here */

}
/*Changing carousel height above*/

/*Changing carousel height below*/
/*.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;*/
}
/*Changing carousel height above*/

/*.container .col-md-6 img{
	float: left;
}*/

.col-md-3{
	/*padding: 0;*/
}
#object1,#object2,#object3,#object4{

	width: 100%;
	height: 300px;
	float: left;
}


#object1{
	/*background-color: #EFF7F5;*/
	text-align: center;
}

#object2{
	/*background-color: #EFF7F5;*/
	text-align: center;
}
#object3{
	/*background-color: #EFF7F5;*/
	text-align: center;
}

#object4{
	/*background-color: #EFF7F5;*/
	text-align: center;
}
footer{
	width: 100%;
	/*height: 300px;*/
	padding: 100px 0;
	background-color: purple;
	float: left;
}

.panel-body{
	color: purple;
}

footer .col-md-6 li{

	color: white;
}

.form-control{
	width: 60%;
	/*background-image: url("img/seed.jpg");*/
}
