/*CSS for HomePage*/

@import url(bootstrap.min.css);

body{
     margin: 0px;
     padding: 0;
     border: 0;
     background-color: #FAF0E6;
}

#header{
text-align: center;
background-color: #DB7093;
background-image: url(../img/Logo.jpg);
background-size: 100px 100px;
height: 80px;
width: 100%;
opacity: 0.2;
}

#logo{
	width: 100px;
	height: 70px;
	float: left;
	text-align: center;
	background-color: white;
}

#logo img{
	/*float: left;*/
	height: 70px;
	/*padding: 20px;*/

}

#header form{
	float: right;
	padding: 20px;
	height: 20px;
}

#header img{
	height: 90px;
	padding: 20px 60px;
	text-align: center;
}

nav{
	background-color: #C71585;
	height: 70px;
	text-align: center;
	width: 100%;	
}

nav ul{
display: inline-block;

}

nav ul li{list-style: none;display: inline;margin: 10px 30px;}

nav ul li a{

	color: #FFF;
	text-decoration: none;
}

#gallery-section{

	background-color: #FAF0E6;
	text-align: center;
}

#gallery-section img{

	width: 100%;
	height: 450px;
   /*padding: 7px;*/
   
}

#subscribe-area1{
border-spacing: 10px;
/*background-color: #FFB6C1;*/

}

#subscribe-area2{

/*background-color: #FFB6C1;*/
}

/*section > #subscribe-area1,section > #subscribe-area2{
width: 50%;
height:70px;
float: left;

}*/


#donate-line{

height: 70px;
background: #D8BFD8;
text-align: center;
padding-top: 10px;

}

#donate-line a{
font-size: 40px;
color: black;
font-weight: 700;

}


footer{

	background-color: #DB7093;
	width: 100%;
	height: 70px;
}



/*CSS for Who We Are Page*/





