@import url(bootstrap.min.css);

/*main{
     margin: 0;
     padding-right: 20px;
     padding-left: 20px; 
     border: 10px;
 }*/

body{
	/*background-color: #EFF7F5;*/
}

.navbar{

	margin-bottom: 0;
	border-radius: 0;
	background-color: white;
	/*border-color: purple;*/
}

.navbar-inner {
min-height: 140px; /* change value here to modify height of navbar*/
}

.navbar-brand{
	font-family: cursive;
}

.collapse ul{
	padding-top: 40px;
	
}

.collapse ul a{
	color: white;
	font-family: cursive;

}

.btn{
	border-radius: 20px; /*makes the donate button rounded*/
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: purple;
}

.slider img{
	width: 100%;
}

/*Changing carousel height below*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-height: 500px;    /* Set slide height here */

}
/*Changing carousel height above*/

/*Changing carousel height below*/
/*.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;*/
}
/*Changing carousel height above*/

/*.container .col-md-6 img{
	float: left;
}*/

.col-md-3{
	/*padding: 0;*/
}
#object1,#object2,#object3,#object4{

	width: 100%;
	height: 300px;
	float: left;
}


#object1{
	/*background-color: #EFF7F5;*/
	text-align: center;
}

#object2{
	/*background-color: #EFF7F5;*/
	text-align: center;
}
#object3{
	/*background-color: #EFF7F5;*/
	text-align: center;
}

#object4{
	/*background-color: #EFF7F5;*/
	text-align: center;
}
footer{
	width: 100%;
	/*height: 300px;*/
	padding: 100px 0;
	background-color: purple;
	float: left;
}

.panel-body{
	color: purple;
}

footer .col-md-6 li{

	color: white;
}

